.order {
  &__navbar {
    margin-bottom: 0.08rem;
    background: #fff;
    .mint-navbar {
      .mint-tab-item {
        position: relative;
        &.is-selected {
          border-bottom: 0.01rem solid rgba(145, 191, 43, 0.88);
          color: rgba(145, 191, 43, 0.88);
        }
        .badge {
          position: absolute;
          top: 0.1rem;
          right: 0.16rem;
        }
      }
    }
  }
  &__list {
    margin-bottom: 0.56rem;
  }
  &__but {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 640rem;
    .mint-button {
      width: 100%;
    }
  }
}
