.home{
  overflow: hidden;
  .tip{
    padding: 0.16rem 0 0 0;
    background-color: #fff;
  }
  .userInfo{
    display: flex;
    font-size: 0.10rem;
    padding: 0.16rem;
    line-height: 0.5rem;
    background: #168EFF url(./images/home_bg.jpeg) no-repeat 100% 100%;
    background-size: 100% 100%;
    color: #fff;
    .img{
      width: 0.5rem;
      height: 0.5rem;
      display: inline-block;
      border-radius: 0.06rem;
    }
    .name{
      padding: 0 0.16rem 0 0.08rem;
    }
    .address{
      font-size: 0.10rem;
      flex: 1;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .arrow{
      padding-top: 0.18rem;
      transform: rotate(90deg);
    }
    .popupWrapper{
      color: #333;
      height: 60%;
      .title{
        display: flex;
        padding: 0 0.16rem;
        color: #168EFF;
        border-bottom: 1px solid #ddd;
        >div{
          flex: 1;
        }
        .confirm{
          text-align: right;
        }
      }
    }
  }
}
